<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mock Page</title>
    <link rel="stylesheet" href="../Styles/style.css">
    <style>
        #chart-container {
            display: none;
            margin-top: 20px;
        }

        input[type="checkbox"]:checked ~ #chart-container {
            display: block;
        }
    </style>
</head>
<body>
    <header>
        <h1>AnalyTick WebApp</h1>
        <nav>
            <ul>
                <li><a href="/api/trade-entries">Home</a></li>
                <li><a href="/features">Features</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Welcome to AnalyTick</h2>
            <p>This is a mock page for the AnalyTick WebApp project. Explore the features and learn more about our application.</p>
        </section>
        <section>
            <h3>Features</h3>
            <ul>
                <li>Data Analysis</li>
                <li>Real-time Insights</li>
                <li>Customizable Dashboards</li>
            </ul>
        </section>
        <section>
            <h3>Entry Form</h3>
            <form action="/api/stocks/add_stock/" method="POST">
                {% csrf_token %}
                <table border="1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>sector</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" name="id" required></td>
                            <td><input type="text" name="name" required></td>
                            <td><input type="text" name="sector" required</td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit">Submit</button>
            </form>
        </section>
        
        <section>
            <h3>Stock Chart</h3>
            <label>
                <input type="checkbox">
                Show Stock Chart
            </label>
            <div id="chart-container">
                {% include "chart.html" %}
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 AnalyTick. All rights reserved.</p>
    </footer>
</body>
</html>